<div class="course-item">
  <mat-card>
    <mat-card-actions>
      <button mat-raised-button color="accent">+</button>
      <button mat-raised-button color="warn">-</button>
      <span>Points: {{ course.voteCount }}</span>
    </mat-card-actions>
    <div class="course-item--chip-list">
      <mat-chip-list>
        <mat-chip>{{ course.topic }}</mat-chip>
      </mat-chip-list>
    </div>
    <mat-card-header>
      <mat-card-title>{{ course.title }}</mat-card-title>
      <mat-card-subtitle>by {{ course.author }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ course.description }}
      </p>
      <p>
        <a target="_blank" mat-raised-button color="primary" [href]="course.url"
          >Go to course...</a
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>
